// Thanks to https://google-webfonts-helper.herokuapp.com/fonts/

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/work-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/work-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/work-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/work-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/work-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/work-sans-v17-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/work-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/work-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/work-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/work-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/work-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/work-sans-v17-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eb-garamond-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v26-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* eb-garamond-italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v26-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eb-garamond-v26-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v26-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v26-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v26-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v26-latin-italic.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
