.netstep-link
  stroke: #323232

.netstep-label
  font:
    size: 28pt
    family: $font-serif
  paint-order: stroke fill

.netstep-node

  *.group
    fill: #ff0000

#expanded-model
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
