.main-overview
  display: flex
  flex-direction: column
  height: 100%
  gap: 20px

  .overview-section
    border: 1px solid
    border-radius: 10px
    flex-grow: 1
    padding: 30px

    h2
      font-size: 4em
      font-family: $font-serif
      margin: 0

    span
      font:
        size: 2em
        family: $font-sans
        weight: 200
        style: italic


    &.speech
      border-color: $color-primary
      box-shadow: 5px 5px $color-primary
      h2
        color: $color-primary

    &.infocapitalism
      border-color: $color-infocapitalism
      box-shadow: 5px 5px $color-infocapitalism
      h2
        color: $color-infocapitalism

    &.data
      border-color: $color-data
      box-shadow: 5px 5px $color-data
      h2
        color: $color-data

    &.tools
      border-color: $color-tools
      box-shadow: 5px 5px $color-tools
      h2
        color: $color-tools

    &.knowledge
      border-color: $color-knowledge
      box-shadow: 5px 5px $color-knowledge
      h2
        color: $color-knowledge



#generalize-docs
  width: 100%
  height: 100%
  gap: 30px
  margin-top: 50px

  ul
    margin-top: 20px

  li
    font:
      family: $font-sans
      weight: 200

  &>div
    height: 100%

  div
    flex-grow: 1
    border: 1px solid
    border-radius: 10px
    box-shadow: 5px 5px black
    flex-basis: 25%
    padding: 20px

.twocol
  width: 100%
  height: 100%
  gap: 30px
  margin-top: 50px
  align-items: flex-start

  &>div
    flex-grow: 1
    flex-basis: 50%
    max-width: 50%

  img
    width: 100%

