//colors
$color-primary: #111111
$color-accent: #FF4400
$color-secondary: #006EC7
$color-secondary-shade1: #7698ba
$color-primary-shade1: #CCCCCC
$color-primary-shade2: #555555

$color-background: #EEEEEE


//interaction
$hover-scale: 1.2
