//colors
$color-primary: #111111
$color-accent: #FF4400
$color-secondary: #006EC7
$color-secondary-shade1: #7698ba
$color-primary-shade1: #CCCCCC
$color-primary-shade2: #555555

$color-data: #2f0987
$color-infocapitalism: #5ABF7D
$color-tools: #CF005D
$color-knowledge: #45B6D9

$color-background: #EEEEEE

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif
$font-serif:  "Source Serif Pro", "EB Garamond", serif


//interaction
$hover-scale: 1.2
